@charset 'UTF-8';
/*
  Drawer
*/
.p-drawer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 8rem 0 0;
  background-color: $sub-color;
  transition: transform .5s ease-in-out, border-radius .5s ease-in-out;
  border-radius: 50%;
  transform: translate3d(0, -100%, 0);

  &.is-drawerActive {
    border-radius: 0%;
    transform: translate3d(0, 0, 0);
  }

  @include mq(tab) {
    position: static;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: transparent;
    padding:0;
    transform: translate3d(0, 0, 0);
  }

}
