@charset 'UTF-8';
/*
  Header
*/
.p-header {
  @include mq(tab) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__title {
    position: relative;
    z-index: 1;
  }


  &__nav {
    margin-left: 6rem;
    flex-grow: 1;
  }

  &__follow {

  }

  &__snsList {

  }

}
