@charset 'UTF-8';
/*
  Intro
*/
.p-intro {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #101010;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;
  display: flex;
  justify-content: center;

  &:before,
  &:after {
    content: '';
  }

  &__text {
    align-self: center;

  }
}
