@charset 'UTF-8';
/*
  Logo
*/
.p-logo {
  display: inline-block;
  font-weight: 400;
  padding: 1.469rem .506rem;
  text-decoration: none;
  text-align: center;
  font-size: set-size(10px);
  line-height: 1.25;
  color: $accent-color;
  background-color: $sub-color;

  @include mq(tab) {
    padding: 2rem 1.788rem;
    font-size: set-size(12px);
    line-height: 1.25;
  }

  &:before {
    content: 'SH';
    display: block;
    margin-bottom: .125em;
    font-weight: bold;
    font-size: set-size(24px);

    @include mq(tab) {
      margin-bottom: .125em;
      font-size: set-size(48px);
    }
  }

  .no-js &,
  .is-loaded & {
    animation: slideTopIn .5s ease-in-out 1.2s both;
  }
}
