@charset 'UTF-8';
/*
  Logo
*/
.p-logo {
  display: inline-block;
  font-weight: 400;
  padding: 2rem 1.788rem;
  text-decoration: none;
  text-align: center;
  font-size: set-size(12px);
  line-height: 1.25;
  color: $accent-color;
  background-color: $sub-color;

  @include mq(tab) {
    // padding: 1em 0;
    // font-size: 1.5em;
  }

  &:before {
    content: 'SH';
    display: block;
    margin-bottom: .125em;
    font-weight: bold;
    font-size: set-size(48px);
  }
}
