@charset 'UTF-8';
/*
  SNS Nav
*/
$list: 4;

.p-snsNav {
  position: absolute;
  bottom: 4rem;
  left: 0;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include mq(tab) {
    position: static;
    justify-content: start;

  }


  li {
    margin-right: 1rem;
    .no-js &,
    .is-drawerActive & {
      @for $i from 1 through $list {
        &:nth-child(#{$i}) {
          animation: zoomIn .5s ease-in-out (1 + $i * 0.1) + s both;
        }
      }
    }

    @include mq(tab) {
      animation: none;
    }
  }

  a {
    position: relative;
    display: inline-block;
    width: 3rem;
    height: 3rem;
    padding: .75rem;
    border: 1px solid $primary-text-color;
    border-radius: 50%;
    color: $primary-text-color;
    text-align: center;
    font-size: set-size(20px);

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $primary-text-color;
      border-radius: inherit;
      z-index: -1;
      transform: scale(0);
      opacity: 0;
    }

    &:hover,
    &:focus {
      color: $main-color;

      &:before {
        transform: scale(1);
        opacity: 1;
      }
    }

    svg {
      fill: currentColor;
      height: 20px;
    }
  }

  .no-js &,
  .is-loaded & {
    animation: slideTopIn .5s ease-in-out 1.6s both;
  }
}
