@charset 'UTF-8';
/*
  Contents
-----------------------------------------------------*/
.l-contents {
  clear: both;
  padding: set-size(32px) 0;
  overflow: hidden;

  @include mq(tab) {
    padding: set-size(120px) 0;
  }
}
