@charset 'UTF-8';
/*
  Footer
-----------------------------------------------------*/

.l-footer {
  clear: both;
  padding: set-size(40px) 0;
  text-align: center;

  @include mq(tab) {
    // padding: set-size(120px) 0;
  }

}
