
@charset 'UTF-8';
/*
  Animate
*/
.c-animate {
  transition: all .5s ease-in-out;

  &.-fadeIn {
    opacity: 0;

    &.is-active {
      opacity: 1;
    }
  }

  &.-zoomIn {

    transform: scale(.5);
    opacity: 0;
    &.is-active {
      transform: scale(1);
      opacity: 1;
    }
  }

  &.-sildeBottomIn {
    opacity: 0;
    .no-js &,
    &.is-animateActive {
      animation: slideBottomIn .5s ease-in-out both;
    }
  }
}


@keyframes slideLeftIn {
  0% {
      transform: translate3d(-4rem, 0, 0);
      opacity: 0;
      // text-shadow: 48px 0 80px rgba(255, 255, 255, .5);
      letter-spacing: .05em;
  }
  100% {
      transform: translate3d(0, 0, 0);
      opacity: 1;
      letter-spacing: -.03em;
      // text-shadow: 0 0 0 rgba(255, 255, 255, 0);
  }
}
@keyframes slideRightIn {
  0% {
      transform: translate3d(4rem, 0, 0);
      opacity: 0;
      // text-shadow: 48px 0 80px rgba(255, 255, 255, .5);
      letter-spacing: .05em;
  }
  100% {
      transform: translate3d(0, 0, 0);
      opacity: 1;
      letter-spacing: -.03em;
      // text-shadow: 0 0 0 rgba(255, 255, 255, 0);
  }
}

@keyframes slideTopIn {
  0% {
      transform: translate3d(0, -20%, 0);
      opacity: 0;
  }
  100% {
      transform: translate3d(0, 0, 0);
      opacity: 1;
  }
}

@keyframes slideBottomIn {
  0% {
      transform: translate3d(0, 30%, 0);
      opacity: 0;
  }
  100% {
      transform: translate3d(0, 0, 0);
      opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
      opacity: 0;
      z-index: -2;
  }
  1% {
    z-index: 0;
  }
  100% {
      opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
      opacity: 1;
      z-index: 0;
  }
  99% {
      opacity: 1;
  }
  100% {
    z-index: -2;
  }
}
@keyframes zoomIn {
  0% {
      opacity: 0;
      transform: scale(0);
      z-index: -2;
  }
  1% {
    z-index: 0;
  }
  100% {
      opacity: 1;
      transform: scale(01);
  }
}

@keyframes zoomOut {
  0% {
      opacity: 1;
      z-index: 0;
  }
  99% {
      opacity: 1;
  }
  100% {
    z-index: -2;
  }
}
