@charset 'UTF-8';
/*
  Heading
*/

.c-heading {

  &.-primary {
    $font-size: 24px;
    font-weight: 400;
    text-align: center;
    font-size: 1rem;
    margin-bottom: set-size($font-size);


    [lang="en"] {
      font-weight: 600;
      font-size: set-size($font-size);
    }
  }

}


@include mq(tab) {
  .c-heading {
    &.-primary {
      $font-size: 64px;
      margin-bottom: set-size($font-size);

      [lang="en"] {
        font-size: set-size($font-size);
      }
    }
  }
}
